body {
    font-family: 'Montserrat', sans-serif;
     background: linear-gradient(to right, #1a1a1a, #2c3e50); 
    color: black; 
    margin: 0;
    padding: 0;
}

header {
     background: linear-gradient(to right, #4b6cb7, #182848,#4b6cb7);
    color: #fff;
    padding: 1em;
    text-align: center;
    border-bottom: 2px solid #fff; 
}

h1 {
    font-size: 2.5em; 
    margin-bottom: 0.5em; 
}

nav menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 8px;
    background-color: black; 
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: dodgerblue;
}

section {
    margin: 40px; 
    padding: 40px; 
    background-color: white; 
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 15px; 
    color: black;
}

img {
    max-width: 20%; 
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 20px; 
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4); 
}

form input,
form textarea {
    width: calc(100% - 40px); 
    padding: 15px; 
    margin-bottom: 25px;
    border: 2px solid #fd1d1d;
    border-radius: 12px; 
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
}

form button {
    padding: 15px 30px; 
    background-color: #27ae60;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1.2em; 
}

a {
    color: #27ae60;
    text-decoration: underline;
}

section#projects table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid black;
}

section#projects th, section#projects td {
    padding: 15px;
    border: 1px solid #fff;
    text-align: left;
}

section#projects th {
    background-color: #444;
    color: #fff;
}

section#projects td {
    background-color: #555;
    color: #fff;
}

section#projects tr:nth-child(even) {
    background-color: #666;
}

section#projects tr:hover {
    background-color: #777;
}

/* Styles for the Video section */
section#video details {
    text-align: center;
}

section#video video {
    width: 100%;
    max-width: 800px;
    height: 350px;
    margin-top: 20px;
    border: 2px solid #444;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

section#video video:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

section#video audio {
    width: 100%;
    max-width: 800px;
    height: 50px;
    margin-top: 20px;
    border: 2px solid #444;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

section#video audio:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

 #contactub {
    text-align: center;
}

#contactub p {
    margin-top: 20px;
}

#contactub a.social-icon {
    margin-right: 10px;
    font-size: 24px;
    color: #3498db; 
    text-decoration: none;
    transition: color 0.3s ease;
}

#contactub a.social-icon:hover {
    color: #2980b9; 
}

footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 1.5em;
}
